<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="All_New_Jongbet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <All_New_Jongbet.Properties.Settings>
            <setting name="IsTelegramNotificationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TelegramBotToken" serializeAs="String">
                <value>BotToken</value>
            </setting>
            <setting name="TelegramChatId" serializeAs="String">
                <value>BotChatID</value>
            </setting>
            <setting name="TelegramNotificationTime" serializeAs="String">
                <value>15:30</value>
            </setting>
        </All_New_Jongbet.Properties.Settings>
    </userSettings>
</configuration>